<app-sidebar-top></app-sidebar-top>
<div class="mt-5">
    <div class="container pt-5 mt-5">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="card">
                    <div class="card-body text-center">
                        <span class="titulo-tabla">Listado de Productos</span>
                        <button routerLink="" class="btn-success float-end">Nuevo</button>
                        <div class="pt-4">
                            <table class="table table-striped mt-2">
                                <thead>
                                    <tr>
                                        <th scope="col">Producto</th>
                                        <th scope="col">Categoria</th>
                                        <th scope="col">Ubicación</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Producto 1</td>
                                        <td>Categoria 1</td>
                                        <td>Estante XX</td>
                                        <td>12345678</td>
                                        <td>
                                            <i class="fas fa-edit text-primary"></i>
                                            <i class="fas fa-trash text-danger"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Producto 2</td>
                                        <td>Categoria 1</td>
                                        <td>Estante XX</td>
                                        <td>12345678</td>
                                        <td>
                                            <i class="fas fa-edit text-primary"></i>
                                            <i class="fas fa-trash text-danger"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Producto 3</td>
                                        <td>Categoria 1</td>
                                        <td>Estante XX</td>
                                        <td>12345678</td>
                                        <td>
                                            <i class="fas fa-edit text-primary"></i>
                                            <i class="fas fa-trash text-danger"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>